$border-color: rgba(73, 73, 73, .1);
$active-link-color: rgba(85, 37, 181, 1);
$inactive-link-color: rgba(73, 73, 73, 1);
$light-red: rgba(255, 19, 76, 1);/**user-profile-color */
$add-task-btn: rgba(47, 204, 109, 1);
$add-task-shadow: rgba(0, 0, 0, .5);

$catalog_bg: rgba(246, 246, 246, 1);
$catalog_btn: rgba(85, 37, 181, 1);
$white: rgba(255, 255, 255, 1);
$search-border-solid: rgba(221, 221, 221, 1);
$light_black: rgba(103, 103, 103, .5);

$green: green;
$catalog-btn-hover: rgb(85, 37, 133);
