.home_page {
    display: flex;
    flex-direction: column;

    &__main_container {
        display: flex;
    }

    &__section {
        background-color: #F2F2F2;
        width: 262px;
        min-height: 400px;
        margin: 25px 0px 25px 0;
        padding: 0px 0px 35px 0px;
        font-family: 'Proxima Nova';
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 13px;
        margin-right: 0px;
        cursor: pointer;
    }

    &__list:hover svg path {
        fill: #FAA525;
    }

    &__list:hover span {
        color: #FAA525;
    }

    &__navbar_icon {
        margin: 0 10px 0 7px;
    }

    // main

    &__main {
        position: relative;
        display: flex;
    }

    &__banner {
        max-width: 100%;
        margin: 25px 0px 0 25px;
    }

    &__left_direction_icon {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }

    &__right_direction_icon {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: rotate(180deg) translateY(50%);
        z-index: 999;
    }
}
